<app-navbar></app-navbar>
<section id="services-section" style="padding-top: 70px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<h3 class="styled">FUEL PUMP SERVICING</h3>
				<div class="separator transparent"></div>
				<p>
					We have specialized equipment for fuel pump and nozzle testing and
					reconditioning for all major engine makes and model, operated by
					specially-trained technicians who are experts in various engine
					make and models and are highly-proficient in fuel pump
					reconditioning.<br> <br>Fuel pump servicing includes the
					following:<br>• Dismantling and cleaning<br>• Lapping<br>•
					Grinding<br>• Measuring profile<br>• Testing<br>Our
					vast network allows us to easily source out for supply or new
					spares and parts in no time. We tailor our services to our clients’
					requirements and offer the best beneficial solution possible.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="styled">LASER ALIGNMENT</h3>
				<div class="separator transparent"></div>
				<p>
					Decades of experience in the industry has given us the opportunity
					to perform numerous installations of main engines and new build for
					various shipyards in Singapore.<br> <br>Our laser team,
					highly-skilled in load testing and bearing fitting handles the
					laser alignment jobs, from small to large components, which include
					alignment of main engines, pumps, alternators, stern tubes, among
					others.<br> <br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="styled">AFLOAT REPAIR</h3>
				<div class="separator transparent"></div>
				<p>
					The Arc Marine in-house float team, composed of competent service
					technicians, mechanics and fitters trained under various engine
					makers, at your disposal anytime, anywhere for the following
					services:<br> <br>- Main engine complete overhaul
					(2-stroke and 4-stroke)<br>- Generator engine complete
					overhaul<br>- Cargo pumps, turbines and centrifugal pumps<br>-
					Turbocharger overhaul<br>- Deck machinery<br>-
					Crankshaft, engine renewal and engine alignment, both for main and
					auxiliary<br>- Riding squad for voyage repair<br>- Other
					general mechanical work<br>- Other ship-related mechanical
					repair<br> <br>Our technical team is comprised of
					experienced sailors and technical hands who understand not only the
					technical but also the commercial implications of repair and time
					and cost of delay.<br> <br>We have established trusting
					relationships even with the major ship yards in Singapore, with our
					expertise and understanding of the business implications which
					assures a superior quality of technical services to our clients.<br>
					<br>"Our technicians are fully trained in MITSUI B&amp;W 2
					Stroke Diesel Engines by <br>Mitsui Engineering &amp;
					Shipbuilding Co. Ltd. Japan."<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="styled">TURBO CHARGER SERVICING/ OVERHAULING</h3>
				<div class="separator transparent"></div>
				<p>
					- Inspection<br>- Dismantling and cleaning<br>- Ash
					blasting<br>- Balancing<br>- Change of spare parts<br>
					<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="styled">SUPPORT SYSTEMS</h3>
				<div class="separator transparent"></div>
				<p>
					Warehouse Utilization for Customers<br>Arc Marine’s
					over-a-thousand-square-feet warehouse accommodates not only the
					company’s provisions and supplies, but customers could also enjoy
					utilization of space for their own operational requirements<br>
					<br>Transportation and Delivery of Spares and Products <br>We
					provide appropriate transportation for orders, especially to remote
					locations. Full back office support for visiting superintendents
					and/ or other customer representatives.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="styled">SPARE PARTS</h3>
				<div class="separator transparent"></div>
				<p>
					With an in-house 6,000 Sq Ft. capacity of storage, Arc Marine store
					is uniquely positioned to provide at a short notice a wide range of
					machinery, equipment, spare parts and safety apparatus of various
					Japanese, European and other international brands pertaining to
					following :<br>
					<br>- Main engines<br>- Auxiliary engines<br>- Air
					compressors<br>- Refrigeration and air conditioning <br>-
					Auto control systems<br>- Deck machinery<br>-
					Turbochargers<br>- Pumps<br>- Boilers<br>- Oil
					Purifiers<br>- Heat exchangers<br>- Oily water separators<br>-
					Chain cable<br>
				</p>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>