<section id="team-section">
	<section class="wrapper spotlight style1 section1_container">
		<section id="section_1">
			<div class="container">
				<div class="head_container mt-4">
					<h2>
						<span class="underline_text">Our Team</span>
					</h2>
				</div>


				<div class="row">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
						<img src="./assets/man.jpg" alt="" class="rounded-circle">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 vertical-center">
						<article>
							<p>"We deliver our services at best in the market!"</p>
						</article>
					</div>
				</div>
			</div>
		</section>
	</section>
</section>