<section id="about-section">
	<section class="wrapper spotlight style1 section1_container">
		<section id="section_1">
			<div class="head_container">
				<h2>
					<span class="underline_text">Who we are</span>
				</h2>
			</div>

			<div class="container">
				<p>JJ Marine Pvt Ltd, Incorporated in the year 2017 is an
					established supplier of quality marine products and a trusted
					service provider. JJ Marine Pvt Ltd is the engineering arm ,
					specializing in ship and offshore ship repairs (core experience in
					Diesel Engines).</p>
				<p>Our team of marine technical experts and professionals, with
					their proven track record in our specialized service guarantee
					appropriate, cost-effective solutions to the care and repair of
					your vessels anytime. We are a member of the International
					Shipsuppliers & Services Association (ISSA) and Singapore
					Ship-Chandlers Association.</p>
				<p>Operating from a compound of 46,000 square ft, we have cold
					storage rooms/facilities and cooler boxes to meet storage and
					transit requirements for the supply of provision. For engineering
					task we have a well equipped workshop with e.g. two 20T overhead
					cranes to undertake all engineering task small as well as big.
					Furthermore a experienced team of technicians to join on-site jobs
					24/7.</p>
				<p>On top of sourcing and supplying a wide range of equipment
					and stores, JJ Marine is also able to provide effective solution to
					deal with the logistics challenges. We have a team of experienced
					staff with many years of marine experience. We also provide global
					supply of provision via our network of trusted partners wherever,
					whenever.</p>
				<p>We provide exceptionally experienced team to suit the engine
					type for complete overhauls in given time either on Port /
					Anchorage or Sailing. Our facilities in major components (pistons,
					rings & liner / cylinder heads / exhaust valve & seats)
					reconditioning has provided 10% cost lesser than other standard
					competitors in industry.</p>
				<p>Engineering specialists are mobilized to job sites world wide
					for inspections , assessments, supervision etc. Our component
					hydraulic experts to troublshoot and repair various hydraulic
					installations including cranes, grabs windlass, mooring equipments,
					remote valves operating systems and steering gear.</p>
			</div>
		</section>
	</section>
</section>