<section id="services-section">
	<section class="wrapper spotlight style1 section1_container">
		<section id="section_1">
			<div class="head_container">
				<h2>
					<span class="underline_text">What we do</span>
				</h2>
			</div>
			<div class="clear height20"></div>
			<div class="container">
				<div class="row mt-3">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<img src="./assets/fuelpump.jpg" class="img-thumbnail" />
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<article>
							<h3 class="sub-heading">Fuel Pump Servicing</h3>
							<p>We have specialized equipment for fuel pump and nozzle
								testing and reconditioning for all major engine makes and model,
								operated by specially-trained technicians who are experts in
								various engine make and models.</p>
							<a class="btn btn-outline-info" routerLink="/service-details"
								routerLinkActive="active">Read more >></a>
						</article>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<img src="./assets/lazer ali.JPG" alt="" class="img-thumbnail">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<article>
							<h3 class="sub-heading">Laser Alignment</h3>
							<p>Our laser team, highly-skilled in load testing and bearing
								fitting handles the laser alignment jobs, from small to large
								components, which include alignment of main engines, pumps,
								alternators, stern tubes, among others.</p>
							<button type="button" class="btn btn-outline-info" role="button">Read
								more >></button>
						</article>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<img src="./assets/afloatrepair.jpg" class="img-thumbnail" />
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<article>
							<h3 class="sub-heading">Afloat Repair</h3>
							<p>The JJ Marine in-house float team, composed of competent
								service technicians, mechanics and fitters trained under various
								engine makers, at your disposal any time.</p>
							<button type="button" class="btn btn-outline-info" role="button">Read
								more >></button>
						</article>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<img src="./assets/Turbocharging.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<article>
							<h3 class="sub-heading">Turbo Charger Servicing/ Overhauling</h3>
							<p>We provide services like Inspection Dismantling and
								cleaning,Ash blasting,Balancing,Change of spare parts at anytime
								effectively.</p>
							<button type="button" class="btn btn-outline-info" role="button">Read
								more >></button>
						</article>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<img src="./assets/supportsystem.jpg" class="img-thumbnail" />
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<article>
							<h3 class="sub-heading">Support Systems</h3>
							<p>JJ Marine’s over-a-thousand-square-feet warehouse
								accommodates not only the company’s provisions and supplies, but
								customers could also enjoy utilization of space for their own
								operational requirements</p>
							<button type="button" class="btn btn-outline-info" role="button">Read
								more >></button>
						</article>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<img src="./assets/spare.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
						<article>
							<h3 class="sub-heading">Equipment and Spare Parts</h3>
							<p>With an in-house 6,000 Sq Ft. capacity of storage, JJ
								Marine store is uniquely positioned to provide at a short notice
								a wide range of machinery, equipment, spare parts and safety
								apparatus of international brands.</p>
							<button type="button" class="btn btn-outline-info" role="button"
								gesh>Read more >></button>
						</article>
					</div>
				</div>
			</div>
		</section>
	</section>
</section>