<!--<button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button" style="position: absolute;top:4%;left:2%;z-index: 1;" (click)="toggle();">
  <i class="fas fa-bars"></i>
</button>-->
<nav
  class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled"
  style="display: initial !important;"
>
  <div class="container-fluid d-flex flex-column p-0">
    <a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
      routerLink="/calendar"
      routerLinkActive="active"
      style="border-bottom: 1px solid white;width:100%;"
    >
      <div class="sidebar-brand-icon"><img src="../../../assets/img/catchup.png" alt="CatchUp" width="50px" /></div>
    </a>
    <hr class="sidebar-divider my-0" />
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" routerLink="/calendar" routerLinkActive="active"
          ><i class="fas fa-calendar-alt"></i><span>Calendar</span></a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/appointments" routerLinkActive="active"
          ><i class="fas fa-clock"></i><span>Appointments</span></a
        >
      </li>
      <!--<li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"
          ><i class="fas fa-envelope"></i><span>Messaging</span></a
        >
      </li>-->
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/user-management" routerLinkActive="active">
          <i class="fas fa-users"></i><span>User Management</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"
          ><i class="fas fa-users-cog"></i><span>Settings</span></a
        >
      </li>
    </ul>
  </div>
</nav>
